<div class="main">
  <div class="content">
    <app-timer *ngIf="IsTimerToShow"></app-timer>
    <app-hall-assistance *ngIf="IsHallToShow"></app-hall-assistance>
    <div class="hints">
      <button class="hint">
        <i class="hint-ico hint-ico-half"></i>
      </button>
      <button class="hint">
          <i class="hint-ico hint-ico-people"></i>
      </button>
      <button class="hint">
          <i class="hint-ico hint-ico-ring"></i>
      </button>
    </div>
    <div class="level">
      <ol reversed>
        <li class="prize" *ngFor="let prize of prizes">{{prize}}</li>
      </ol>
    </div>
  </div>
  <div class="questions">
    <button class="question">{{questionGroup.num}}. {{questionGroup.question}}</button>
    <button class="answer answer1">
      <div class="answer-container">
        <span>A: </span>{{questionGroup.answer1}}
      </div>
    </button>
    <button class="answer answer2">
      <div class="answer-container">
        <span>B: </span>{{questionGroup.answer2}}
      </div>
    </button>
    <button class="answer answer3">
      <div class="answer-container">
        <span>C: </span>{{questionGroup.answer3}}
      </div>
    </button>
    <button class="answer answer4">
      <div class="answer-container">
        <span>D: </span>{{questionGroup.answer4}}
      </div>
    </button>
  </div>
  <form class="game-over-form" *ngIf="isToShowGameOverForm" (keydown.enter)="$event.preventDefault()">
    <p>Игра окончена!</p>
    <p>Вы заслужили звание:</p>
    <p>{{earnedPrize}}!</p>
  </form>
</div>