<app-start-game *ngIf="!isTimeToPlay"></app-start-game>
<div class="main" *ngIf="isTimeToPlay">
  <div class="content">
    <app-timer class='hidden' #timerComp></app-timer>
    <app-hall-assistance class='hidden' #hallAssist></app-hall-assistance>
    <div class="hints">
      <button class="hint" #hinthalf>
        <i class="hint-ico hint-ico-half"></i>
      </button>
      <button class="hint" #hintpeople>
          <i class="hint-ico hint-ico-people"></i>
      </button>
      <button class="hint" #hintring>
          <i class="hint-ico hint-ico-ring"></i>
      </button>
    </div>
    <div class="level">
      <ol reversed>
        <li class="prize" [class.current]="getIsCurrentPrize(prize)" *ngFor="let prize of prizes">{{prize}}</li>
      </ol>
    </div>
  </div>
  <div class="questions">
    <button class="question">{{questionGroup.num}}. {{questionGroup.question}}</button>
    <button class="answer answer1">
      <div class="answer-container">
        <span>A: </span>{{questionGroup.answer1}}
      </div>
    </button>
    <button class="answer answer2">
      <div class="answer-container">
        <span>B: </span>{{questionGroup.answer2}}
      </div>
    </button>
    <button class="answer answer3">
      <div class="answer-container">
        <span>C: </span>{{questionGroup.answer3}}
      </div>
    </button>
    <button class="answer answer4">
      <div class="answer-container">
        <span>D: </span>{{questionGroup.answer4}}
      </div>
    </button>
  </div>
  <form class="game-over-form" *ngIf="isToShowGameOverForm" (keydown.enter)="$event.preventDefault()">
    <p>Игра окончена!</p>
    <p>Вы заслужили звание:</p>
    <p>{{earnedPrize}}!</p>
  </form>
</div>
<audio id="audio-before-start" src="assets/audio/before_start.mp3" loop></audio>
<audio id="audio-main1" src="assets/audio/main_1_10.mp3" loop></audio>
<audio id="audio-main2" src="assets/audio/main_11_14.mp3" loop></audio>
<audio id="audio-answered" src="assets/audio/answered.mp3"></audio>
<audio id="audio-right" src="assets/audio/right.mp3"></audio>
<audio id="audio-wrong" src="assets/audio/wrong.mp3"></audio>
<audio id="audio-winner" src="assets/audio/winner.mp3"></audio>
<audio id="audio-hint-hall" src="assets/audio/hint_hall.mp3"></audio>
<audio id="audio-hint-call" src="assets/audio/hint_call.mp3"></audio>